@font-face {
  font-family: "Galaxy";
  src: url(./fonts/SFdistantGalaxy.ttf);
}

.aside {
  background-color: rgb(0, 0, 29);
  color: #80808079;
  font-family: "Galaxy";
  font-size: 2rem;
  overflow: scroll;
  padding: 0 20px;
  position: relative;
  text-align: left;
  
  .scrolling-text {
    animation: scrolling 30s linear 1;
    letter-spacing: 1px;
    line-height: 2.5rem;
    margin-top: 0;
    position: relative;
    top: 1em;
  }
}

@keyframes scrolling {
  0% {
    top: 20em;
  }
  100% {
    top: -40em;
  }
}
