.card {
  background-color: rgb(0, 0, 29);
  border: 5px solid #80808079;
  border-radius: 5px;
  height: 295px;
  margin: 20px auto;
  transition-delay: 5s;
  width: 420px;
  
  p {
    color: #ffffffbd;
    font-size: 1.3rem;
    padding-left: 15px;
    text-align: left;
  }
}